$calendar-cell-padding-y: .25rem !default;
$calendar-cell-padding-x: .25rem !default;
$calendar-line-height: 1.25 !default;

@include exports('calendar/layout') {

    // Base
    .k-calendar {
        width: 16.917em;
        position: relative;
        overflow: hidden;


        // Common
        .k-link {
            padding: $calendar-cell-padding-y $calendar-cell-padding-x;
            color: inherit;
            line-height: $calendar-line-height;
            text-decoration: none;
            display: block;
            outline: 0;
        }

        table {
            margin: 0;
            width: 100%;
            border-width: 0;
            border-color: inherit;
            border-spacing: 0;
            border-collapse: separate;
            table-layout: fixed;
            outline: 0;
        }
        td,
        th {
            padding: 0;
            border-style: solid;
            border-color: inherit;
            font-weight: normal;
            text-align: inherit;
        }
        th {
            border-width: 0 0 1px;
            padding: $calendar-cell-padding-y $calendar-cell-padding-x;
            cursor: default;
        }
        td {
            border-width: 1px;
            cursor: pointer;
        }

        .k-alt {
            cursor: default;
        }


        // Header / footer
        & {

            .k-header,
            .k-footer {
                padding: $calendar-cell-padding-y;
                text-align: center;
                display: flex;
                flex-direction: row;
                position: relative;

                .k-link {
                    @include border-radius( $border-radius );
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }

            // Footer
            .k-footer {
                clear: both;
            }


            // Previous / next
            .k-nav-prev,
            .k-nav-next {
                padding: $calendar-cell-padding-y;
                width: $calendar-line-height * 1em;
                height: $calendar-line-height * 1em;
                box-sizing: content-box;
            }
            .k-nav-prev { left: $calendar-cell-padding-y; }
            .k-nav-next { right: $calendar-cell-padding-y; }


            // Fast navigation
            .k-nav-fast {
                margin: 0 $calendar-cell-padding-y;
                flex: 1;
            }


            // Today
            .k-nav-today {
                flex: 1;
            }

        }


        // Content
        & {

            .k-content {
                margin: 0;
                width: 100%;
                height: 14.167em;
                text-align: right;
                float: left;

                td {
                    border-color: transparent;
                }

                .k-link {
                    line-height: 1.5;
                    @include border-radius( $border-radius );
                }

                &.k-meta-view .k-link {
                    line-height: 4;
                }
            }

            .k-animation-container .k-content {
                height: 100%;
            }

            .k-content .k-link {
                overflow: hidden;
            }

            .k-alt,
            .k-weekend,
            .k-other-month {
                opacity: .6;
            }

            .k-alt {
                text-align: center;
            }

            .k-state-hover,
            .k-state-selected {
                opacity: 1;
            }
        }


        // Meta view
        .k-meta-view .k-link {
            text-align: center;
        }

        .k-rtl & {
            .k-nav-prev .k-icon,
            .k-nav-next .k-icon {
                transform: scaleX(-1);
            }
        }
    }




    // Calendar container
    .k-calendar-container {
        padding: 0;

        .k-calendar {
            border-width: 0;
        }
    }




    // Infinite calendar
    $calendar-cell-size: ( 34px / 14px ) * 1em;
    $calendar-header-height: 2em;
    $calendar-weekdays-height: ( 29px / 14px ) * 1em;
    $calendar-navigation-item-height: 2em;
    $calendar-navigation-width: 5em;

    @mixin hide-scrollbar($margin-offset: 0, $dir: 'right') {
        // anything larger than the scrollbar width will do
        $max-scrollbar: 100px;
        $margin: -$max-scrollbar - $margin-offset;

        @if ($dir == 'right') {
            padding-right: $max-scrollbar;
            margin-right: $margin;
        } @else {
            padding-left: $max-scrollbar;
            margin-left: $margin;
        }
    }

    .k-calendar.k-calendar-infinite {
        box-sizing: content-box;
        width: auto;
        display: inline-flex;
        vertical-align: bottom;
    }

    .k-calendar .k-content.k-scrollable {
        box-sizing: content-box;
        overflow-x: hidden;
        overflow-y: auto;

        @include hide-scrollbar(17px);
    }

    // scoped in calendar until it is used elsewhere
    .k-calendar .k-scrollable-placeholder {
        position: absolute;
        z-index: -1;
        width: 1px;
        top: 0;
        right: 0;
    }

    .k-calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2 * $padding-y;
        line-height: $calendar-header-height;

        .k-title {
            font-weight: bold;
        }

        .k-today {
            // link button
            cursor: pointer;
            color: $link-text;

            &:hover,
            &:focus {
                color: $link-hover-text;
            }
        }
    }

    .k-calendar-monthview {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 0 $spacer-x;

        table {
            width: ($calendar-cell-size * 7);
        }

        .k-content {
            height: 7 * $calendar-cell-size + $calendar-header-height;
            float: none;
            position: relative;

            > table {
                position: relative;
                z-index: 1;
            }

            th {
                border: 0;
                text-align: left;
                font-weight: bold;
                opacity: .5;
            }

            td {
                cursor: default;
                text-align: center;
                height: $calendar-cell-size;
                border-width: 0;
            }

            td,
            .k-link {
                border-radius: $calendar-cell-size / 2;
            }

            .k-link {
                cursor: pointer;
                width: $calendar-cell-size;
                height: $calendar-cell-size;
                line-height: $calendar-cell-size;
                padding: 0;
            }

            .k-weekend {
                background: none;
            }
        }

        .k-calendar-weekdays {
            thead {
                @include disabled;

                font-weight: bold;
                font-size: 10px;
            }

            th {
                text-align: center;
                border-width: 0;
                padding: 0;
                line-height: $calendar-weekdays-height;
            }
        }
    }

    .k-calendar-navigation {
        position: relative;
        display: block;
        overflow: hidden;
        width: $calendar-navigation-width;

        .k-content {
            background: transparent;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            ul {
                width: $calendar-navigation-width;
            }

            li {
                height: $calendar-navigation-item-height;
                line-height: $calendar-navigation-item-height;
                cursor: pointer;
                padding: 0 $padding-x;
            }
        }

        .k-calendar-navigation-marker {
            font-weight: bold;
        }

        .k-calendar-navigation-highlight {
            position: absolute;
            top: 50%;
            margin-top: -($calendar-navigation-item-height / 2);
            right: 0;
            width: 100%;
            height: $calendar-navigation-item-height;
            box-sizing: border-box;
            border-width: 1px 0;
            border-style: solid;
        }
    }
}
